{default_translation_domain domain='customshippingzonefees.bo.default'}
{extends file="admin-layout.tpl"}

{block name="page-title"}{intl l='Edit Custom Shipping Zone'}{/block}

{block name="main-content"}

    <div id="wrapper" class="container">
        <ul class="breadcrumb">
            <li><a href="{url path='/admin'}">{intl l="Home" d="hooknavigation.bo.default"}</a></li>
            <li><a href="{url path='/admin/modules'}">{intl l="Modules" d="hooknavigation.bo.default"}</a></li>
            <li><a href="{url path='/admin/module/CustomShippingZoneFees'}">{intl l="CustomShippingZoneFees configuration"}</a></li>
            <li>{intl l="Edit custom shipping zone"}</li>
        </ul>
        {loop name="custom_shipping_zone_fees_loop" type="custom_shipping_zone_fees" locale=$locale|default:null id=$shippingZoneId}
        <div class="col-md-12 general-block-decorator">
            {form name="custom_shipping_zone_fees_create_form"}
                <form action="{url path="/admin/module/CustomShippingZoneFees/update/{$shippingZoneId}"}" method="post">
                    <div class="tab-pane">
                        <div class="form-container">
                            {include
                            file = "includes/inner-form-toolbar.html"
                            hide_save_and_close_button = true
                            page_url = {url path=$smarty.server.REQUEST_URI}
                            close_url = {url path="/admin/module/CustomShippingZoneFees"}
                            }
                        </div>
                    </div>

                    <div class="col-md-5 form-container">

                        {form_hidden_fields}

                        {render_form_field field='success_url' value={url path='/admin/module/CustomShippingZoneFees'}}

                        {render_form_field field='name' value={$NAME}}

                        {render_form_field field='description' value={$DESCRIPTION}}

                        <div class="form-group">
                            {form_field field='fee'}
                                <label for="{$label_attr.for}">{$label}</label>
                                <div class="input-group">
                                    <input type="text" name="{$name}" id="{$label_attr.for}" class="form-control" value="{$FEE}">
                                    <span class="input-group-addon">{$defaultCurrency->getSymbol()}</span>
                                </div>
                            {/form_field}
                        </div>

                        {foreach $currencies as $currency}
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" value="{$FEE * $currency['Rate']}" disabled>
                                <span class="input-group-addon">{$currency['Symbol']}</span>
                            </div>
                        </div>
                        {/foreach}

                    </div>
                </form>
                <div class="col-md-7">
                    <a class="btn btn-primary pull-right" title="{intl l="Add a new zip code"}" href="#add_zip_code_dialog" data-toggle="modal">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <table class="table table-striped table-condensed">
                        <thead>
                        <tr>
                            <th>{intl l="Zip code"}</th>
                            <th>{intl l="Country"}</th>
                            <th class="text-center col-md-1">{intl l="Action"}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {foreach $ZIP_CODES as $zipCode}
                            <tr>
                                <td>{$zipCode->getZipCode()}</td>
                                <td>{$zipCode->getCountry()->setLocale($locale)->getTitle()}</td>
                                <td nowrap class="actions">
                                    <a href="{url path="/admin/module/CustomShippingZoneFees/zip/delete/%zipId" zipId=$zipCode->getId()}" class="btn btn-danger">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                </td>
                            </tr>
                        {/foreach}
                        </tbody>
                    </table>
                </div>

            {/form}
        </div>
        {/loop}
    </div>

    {form name="zip_code_create_form"}

        {capture "zip_code_creation_dialog"}
            {form_hidden_fields}

            {render_form_field field='success_url' value={url path=$smarty.server.REQUEST_URI}}
            {render_form_field field='zip'}
            {form_field field='country'}
                <select {form_field_attributes field='country' field_id=64}>
                    <option value="">-- {intl l="Select Country"} --</option>
                    {loop type="country" name="country.list" visible="*" order="alpha"}
                        <option value="{$ID}"
                                {if $value != ""}
                                    {if $value == $ID}selected{/if}
                                {else}
                                    {if $IS_DEFAULT}selected{/if}
                                {/if}

                        >{$TITLE}</option>
                    {/loop}
                </select>
            {/form_field}

        {/capture}


        {include
        file = "includes/generic-create-dialog.html"

        dialog_id    = "add_zip_code_dialog"
        dialog_title = {intl l="Add a new zip code"}
        dialog_body  = {$smarty.capture.zip_code_creation_dialog nofilter}

        dialog_ok_label     = {intl l="Create"}
        dialog_cancel_label = {intl l="Cancel"}

        form_action        = {url path="/admin/module/CustomShippingZoneFees/zip/create/$shippingZoneId"}
        form_enctype       = {form_enctype}
        form_error_message = $form_error_message
        }
    {/form}
{/block}


